{% extends 'base.html' %}
{% block body %}

    <div class="container mb-3">
        <h2>Update To-Do</h2>
        <form action="/update/{{alltodo.sno}}" method="POST">
            <div class="mb-3">
                <label for="desc" class="form-label">Title</label>
                <input type="text" class="form-control" name='title' value="{{alltodo.title}}" id="desc">
            </div>
            <div class="mb-3">
                <label for="title" class="form-label">Description</label>
                <input type="text" class="form-control" name="desc" value="{{alltodo.desc}}" id="title">
            </div>
            <button type="submit" class="btn btn-dark">Update</button>
        </form>
    
    {% endblock body %}